@charset "UTF-8";

body, html {
	height: 100%;
}

* {
	box-sizing: border-box;
}
.ticker {
	position: absolute;
	right: 0;
	text-alignment: center;
	width: 30%;
	padding: 8px;
	background-color: rgba(255, 255, 255, .5);
}

.bg-img {
	top: 30px;
	background-image:
		url("https://rs.projects-abroad.org/v1/hero/product-5be05922d05e9.[1600].jpeg");
	/* image height*/
	min-height: 700px;
	/* BG image position */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.navbar{
	background-color: #4CAF50;
	color: white;
	position: fixed;
	
}
a:link{
	color: rgba(255, 255, 255);
	
}
.navh{
	font-size: 15px;

}


.navbar-brand{
	color: rgba(255, 255, 255);
	
}

.headerText {
	text-align: center;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	position: absolute;
}

.KWHeader {
	
}

/* KW form*/
.containerKW {
	position: absolute;
	right: 0;
	margin: 200px 20px 20px;
	max-width: 300px;
	padding: 16px;
	background-color: rgba(255, 255, 255, .5);
}

/* Full-width input fields */
input[type=text], input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
}

.CategoryHeader {
	
}
/*Category form*/
.containerCategory {
	position: absolute;
	right: 0;
	margin: 200px 20px 20px;
	max-width: 300px;
	padding: 16px;
	background-color: rgba(255, 255, 255, .5);
}

/*submit button */
.btn {
	background-color: #4CAF50;
	color: white;
	padding: 10px 16px;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}
.btnP {
	background-color: #4CAF50;
	color: white;
	padding: 10px 16px;
	border: none;
	cursor: pointer;
	width: 80%;
	opacity: 0.9;
}
.card{
	margin: 5px;
}

.btn1 {
	background-color: #4CAF50;
	color: white;
	padding: 5px 5px;
	border: none;
	cursor: pointer;
	/*  width: 100%; */
	opacity: 0.9;
}

.open {
	color: green;
}

.closed {
	color: red;
}

.btn:hover {
	opacity: 1;
}

.log{
	margin-right: 10px;
}
.navbar ul li{
  background-color: rgb(0, 179, 60);
  margin: 0px;
  list-style-type: none;
  border-style: none;
  border-color: none;
  border-radius: 0;
  padding: 0px; 
  color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #4CAF50;
  color: white;
  text-align: center;
}